@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-ktp-blue{
    /* width: 9cm;
    height: 5cm; */
    object-fit: cover;
    background-image: url('/public/media/bg-blue.jpg') !important;
    background-repeat: no-repeat;
}